In [2]:
import pandas as pd

In [5]:
Lab1 = pd.read_csv("Lab 1 Data.csv")

In [6]:
Lab1

                   job  salary  education  prestige
0           accountant     119         86        82
1                pilot      88         76        83
2            architect     169         92        90
3               author     144         90        76
4              chemist     112         86        90
5             minister      57         84        87
6            professor      74         93        93
7              dentist     129        100        90
8             reporter      94         87        52
9             engineer     105         86        88
10          undertaker      44         74        57
11              lawyer     121         98        89
12           physician     168         97        97
13      welfare.worker     116         84        59
14             teacher      77         91        73
15           conductor     110         34        38
16          contractor      83         45        76
17       factory.owner     117         56        81
18       store.manager      62         44        45
19              banker     148         82        92
20          bookkeeper      89         72        39
21        mail.carrier     102         55        34
22     insurance.agent     127         71        41
23         store.clerk      89         50        16
24           carpenter      26         23        33
25         electrician      98         39        53
26         RR.engineer     131         28        67
27           machinist      61         32        57
28      auto.repairman      57         22        26
29             plumber      88         25        29
30   gas.stn.attendant      29         29        10
31          coal.miner     100          7        15
32  streetcar.motorman      91         26        19
33         taxi.driver      87         19        10
34        truck.driver      90         15        13
35    machine.operator     113         20        24
36              barber     106         26        20
37           bartender     107         28         7
38         shoe.shiner     103         17         3
39                cook      20         22        16
40          soda.clerk      80         30         6
41            watchman      92         25        11
42             janitor      37         20         8
43           policeman      90         47        41
44              waiter      27         32        10

### Data Subsets

#### Salary Column

In [9]:
SalaryCol = Lab1[["salary"]]

In [10]:
SalaryCol

    salary
0      119
1       88
2      169
3      144
4      112
5       57
6       74
7      129
8       94
9      105
10      44
11     121
12     168
13     116
14      77
15     110
16      83
17     117
18      62
19     148
20      89
21     102
22     127
23      89
24      26
25      98
26     131
27      61
28      57
29      88
30      29
31     100
32      91
33      87
34      90
35     113
36     106
37     107
38     103
39      20
40      80
41      92
42      37
43      90
44      27

#### Education Column

In [11]:
EdCol = Lab1[["education"]]

In [12]:
EdCol

    education
0          86
1          76
2          92
3          90
4          86
5          84
6          93
7         100
8          87
9          86
10         74
11         98
12         97
13         84
14         91
15         34
16         45
17         56
18         44
19         82
20         72
21         55
22         71
23         50
24         23
25         39
26         28
27         32
28         22
29         25
30         29
31          7
32         26
33         19
34         15
35         20
36         26
37         28
38         17
39         22
40         30
41         25
42         20
43         47
44         32

### Selecting Rows

#### Rows with salary above 127 or equal

In [43]:
SalaryAbove = Lab1.loc[Lab1["salary"] >= 127, "salary"].tolist()

In [44]:
SalaryAbove

[169, 144, 129, 168, 148, 127, 131]

#### Rows with salaries above the average salary

In [45]:
AvgSalary = sum(Lab1["salary"])/len(Lab1["salary"])

In [46]:
AvgSalary

92.82222222222222

In [47]:
SalaryAboveAvg = Lab1.loc[Lab1["salary"] >= AvgSalary, "salary"].tolist()

In [48]:
SalaryAboveAvg

[119,
 169,
 144,
 112,
 129,
 94,
 105,
 121,
 168,
 116,
 110,
 117,
 148,
 102,
 127,
 98,
 131,
 100,
 113,
 106,
 107,
 103]