### Exercise 3 - Correlation

In [1]:
import pandas as pd

In [2]:
SalaryData = pd.read_csv("Salary Data - Ex3.csv")

In [3]:
SalaryData

                   job  type  salary  education  prestige
0           accountant  prof     298        327       318
1                pilot  prof     174        186       193
2            architect  prof     185        197       198
3               author  prof     158        198       184
4              chemist  prof     165        192       191
5             minister  prof     130        186       188
6            professor  prof     167        197       195
7              dentist  prof     187        206       197
8             reporter    wc     170        196       161
9             engineer  prof     180        190       194
10          undertaker  prof     151        177       162
11              lawyer  prof     180        201       198
12           physician  prof     180        205       201
13      welfare.worker  prof     149        192       163
14             teacher  prof     152        194       175
15           conductor    wc     178        144       144
16          contractor  prof     156        151       185
17       factory.owner  prof     168        159       183
18       store.manager  prof     152        146       147
19              banker  prof     185        183       196
20          bookkeeper    wc     138        179       140
21        mail.carrier    wc     157        160       137
22     insurance.agent    wc     160        176       148
23         store.clerk    wc     137        151       121
24           carpenter    bc     123        126       143
25         electrician    bc     156        146       162
26         RR.engineer    bc     191        135       168
27           machinist    bc     138        140       163
28      auto.repairman    bc     123        126       128
29             plumber    bc     154        133       139
30   gas.stn.attendant    bc     122        134       114
31          coal.miner    bc     113        115       125
32  streetcar.motorman    bc     144        130       122
33         taxi.driver    bc     118        121       117
34        truck.driver    bc     131        118       122
35    machine.operator    bc     125        123       133
36              barber    bc     125        128       124
37           bartender    bc     124        135       109
38         shoe.shiner    bc     115        124       105
39                cook    bc     118        125       120
40          soda.clerk    bc     114        133       108
41            watchman    bc     126        129       119
42             janitor    bc     116        123       114
43           policeman    bc     137        149       150
44              waiter    bc     109        137       120

#### Covariance Calculations

In [4]:
cov_salary_education = SalaryData['salary'].cov(SalaryData['education'])
cov_salary_prestige = SalaryData['salary'].cov(SalaryData['prestige'])
cov_education_prestige = SalaryData['education'].cov(SalaryData['prestige'])

#### Reporting the Results

In [5]:
print(f"Covariance between salary and education: {cov_salary_education}")
print(f"Covariance between salary and prestige: {cov_salary_prestige}")
print(f"Covariance between education and prestige: {cov_education_prestige}")

Covariance between salary and education: 1092.4358585858579
Covariance between salary and prestige: 1174.6232323232325
Covariance between education and prestige: 1400.158080808081

#### Calculating the Pearsonâ€™s correlation coefficients and the p-values

In [7]:
from scipy.stats import pearsonr

In [8]:
# Pearson's correlation for salary and education
corr_salary_education, pval_salary_education = pearsonr(SalaryData['salary'], SalaryData['education'])

# Pearson's correlation for salary and prestige
corr_salary_prestige, pval_salary_prestige = pearsonr(SalaryData['salary'], SalaryData['prestige'])

# Pearson's correlation for education and prestige
corr_education_prestige, pval_education_prestige = pearsonr(SalaryData['education'], SalaryData['prestige'])

#### Reporting the Results

In [9]:
print(f"Pearson's correlation between salary and education: {corr_salary_education}, p-value: {pval_salary_education}")
print(f"Pearson's correlation between salary and prestige: {corr_salary_prestige}, p-value: {pval_salary_prestige}")
print(f"Pearson's correlation between education and prestige: {corr_education_prestige}, p-value: {pval_education_prestige}")

Pearson's correlation between salary and education: 0.8476610687229523, p-value: 2.0585788575918948e-13
Pearson's correlation between salary and prestige: 0.8981787425241122, p-value: 6.022949808477442e-17
Pearson's correlation between education and prestige: 0.9050643971195875, p-value: 1.434427722251725e-17